In [ ]:
'''
Мы собрали побольше данных о котиках и собачках, и готовы обучить нашего робота их классифицировать! 
Скачайте тренировочный датасэт и  обучите на нём Decision Tree. После этого скачайте датасэт из задания и 
предскажите какие наблюдения к кому относятся. Введите число собачек в вашем датасэте.

В задании допускается определённая погрешность.

P. S.: данные в задании находятся в формате json, используйте метод pd.read_json для их прочтения
'''

In [164]:
from sklearn import tree
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as  sns
import numpy as np
%matplotlib inline

In [165]:
from IPython.display import SVG
from graphviz import Source
from IPython.display import display

In [166]:
from IPython.display import HTML
style="<style>svg{width:70% ! important;height:70% ! important;}</style>"
HTML(style)

In [178]:
dogsncats_train = pd.read_csv('D:\programming Python\Stepic Machine leaning 02.2020\dogs_n_cats.csv')

In [219]:
dogsncats_test = pd.read_json('D:\Programming Python\Stepic Machine leaning 02.2020\dataset_209691_15 (1).txt')

In [220]:
dogsncats_test

    Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0      16    19.2         1        1                   0
1      22    26.4         1        1                   0
2      30    36.0         1        1                   0
3      19    22.8         1        1                   0
4      17    20.4         1        1                   0
..    ...     ...       ...      ...                 ...
95      9     3.6         1        0                   1
96     14     5.6         1        0                   1
97      6     2.4         1        0                   1
98     10     4.0         1        0                   1
99      5     2.0         1        0                   1

[100 rows x 5 columns]

In [221]:
X_train=dogsncats_train.drop(['Вид','Шерстист'],axis=1)
y_train=dogsncats_train['Вид']

In [222]:
X_train

     Длина  Высота  Гавкает  Лазает по деревьям
0       15    18.0        1                   0
1       20    24.0        0                   0
2       34    40.8        1                   0
3       26    31.2        1                   0
4       16    19.2        1                   0
..     ...     ...      ...                 ...
995      8     3.2        0                   1
996      7     2.8        0                   1
997      6     2.4        0                   1
998      7     2.8        0                   1
999     11     4.4        0                   1

[1000 rows x 4 columns]

In [223]:
X_test=dogsncats_test.drop(['Шерстист'],axis=1)

In [224]:
X_test.head()

   Длина  Высота  Гавкает  Лазает по деревьям
0     16    19.2        1                   0
1     22    26.4        1                   0
2     30    36.0        1                   0
3     19    22.8        1                   0
4     17    20.4        1                   0

In [225]:
clf=tree.DecisionTreeClassifier(criterion='entropy')

In [226]:
clf.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [227]:
clf.score(X_train,y_train)

1.0

In [228]:
hh = clf.predict(X_train)
l = list(hh)
l.count('собачка')

500

In [229]:
hh = clf.predict(X_test)
l = list(hh)
l.count('собачка')

57